* {
    box-sizing: border-box;
}
body{
    background-color:rgb(249, 244, 244);
}
main {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 15vmin;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(243, 155, 231);
    color: #EFC860;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section.grid {
    display: grid;
    grid-template-columns: repeat(3,15vmin);
    grid-template-rows: repeat(3,15vmin);
    border: 5px solid #EFC860;
    margin: 5vmin;
}
section.grid div {
    border: 2px solid pink;
    background-size: 100%;
    
}
section.grid div:hover {
    opacity: 0.5;
}


.box{
    background-image:url("https://i.imgur.com/FrEheJ9.png");
    background-size:contain;
    background-repeat: no-repeat;
    width: 95px;
    height:95px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 6s ;
    animation-iteration-count:infinite;
    animation-delay: 1s;
    animation-direction:alternate;

}
@keyframes myanimation{
    0%{background-image:url("https://i.imgur.com/0MQWbJK.png"); left:50px; top:89px;}
    15%{background-image:url("https://i.imgur.com/0MQWbJK.png");left: 700px;top:400px;}
    25%{background-image:url("https://i.imgur.com/0MQWbJK.png");left: 500px;top:900px;}
    50%{background-image:url("https://i.imgur.com/iZihwTz.png") ;left:950px;top:600px;}
    75%{background-image:url("https://i.imgur.com/iZihwTz.png");left:400px;top:700px;}
    100%{background-image:url("https://i.imgur.com/ZQtYaqZ.png");left:200px;top:100px;}
}