* {
    background-color:rgb(249, 244, 244);
}

body {
    text-align: center;
    background-color:rgb(249, 244, 244);
}

img {
   background-color:rgb(249, 244, 244);
   border:pink solid;
  
   border-width: 10px;
   height: 200px;
   width: 200px;
}

header {
    font-size: 15vmin;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(243, 155, 231);
    color: #EFC860;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 8vmin;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(243, 155, 231);
    color: #EFC860;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin: 50px auto;
    background-color:rgb(249, 244, 244);
    height: 40px;
    width: 150px;
    padding: 3px;
    border: gray;
    border-style: solid;
    border-width: 3px;
    font-family: 'Poppins', sans-serif;
}


p {
    
    text-align: left;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


.ani{
    background-image:url("https://i.imgur.com/FrEheJ9.png");
    background-size:contain;
    background-repeat: no-repeat;
    width: 95px;
    height:95px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 6s ;
    animation-iteration-count:infinite;
    animation-delay: 1s;
    animation-direction:alternate; */

}
@keyframes myanimation{
    0%{background-image:url("https://i.imgur.com/0MQWbJK.png"); left:50px; top:89px;}
    15%{background-image:url("https://i.imgur.com/0MQWbJK.png");left: 700px;top:400px;}
    25%{background-image:url("https://i.imgur.com/0MQWbJK.png");left: 500px;top:900px;}
    50%{background-image:url("https://i.imgur.com/iZihwTz.png") ;left:950px;top:600px;}
    75%{background-image:url("https://i.imgur.com/iZihwTz.png");left:400px;top:700px;}
    100%{background-image:url("https://i.imgur.com/ZQtYaqZ.png");left:200px;top:100px;}
} 
button {
    display: flex;
    background-color: rgb(240, 157, 14);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
   
}

button:hover {
    box-shadow: 0 12px 16px 0 yellow, 0 17px 50px 0 yellow;
  }
